*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    background-position: initial;
    background-image: url(https://images.hdqwalls.com/download/hoenn-pokemon-go-4k-62-1920x1080.jpg);
}
.search{
    margin-right: 200px;
    padding: 20px;
}
.cardDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    justify-content: center;
}
.card{
    display: flex;
    padding: 10px;
    width: 13%;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.search input{
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
}
.search button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
}
h1{
    display: flex;
    justify-content: center;
}